Source: cbhm
Section: devel
Priority: extra
Maintainer: Hyoyoung Chang <hyoyoung.chang@samsung.com>
Build-Depends: debhelper (>= 5), libelm-dev, libappcore-efl-dev, libslp-utilx-dev
Standards-Version: 0.1.1

Package: cbhm
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cbhm application
