Source: cbhm
Section: devel
Priority: extra
Maintainer: Deasung Kim <deasung.kim@samsung.com>, Hyoyoung Chang <hyoyoung.chang@samsung.com>
Uploaders: Juyung Seo <juyung.seo@samsung.com>, Myungjae Lee <mjae.lee@samsung.com>
Build-Depends: debhelper (>= 5), libelm-dev, libappcore-efl-dev, libappcore-common-dev, libx11-dev, libecore-dev, libslp-utilx-dev, x11-xserver-utils-ex, libmm-common-dev, libmm-sound-dev
Standards-Version: 0.1.1

Package: cbhm
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cbhm application
