Source: cbhm
Section: devel
Priority: extra
Maintainer: Hyoyoung Chang <hyoyoung.chang@samsung.com>
Build-Depends: debhelper (>= 5), libeina-dev, libelm-dev, libappcore-efl-dev, libappcore-common-dev, libx11-dev, libecore-dev, libslp-utilx-dev, x11-xserver-utils-ex
Standards-Version: 0.1.1

Package: cbhm
Section: admin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: cbhm application
